.App {
  text-align: center;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  font-family: "Pinyon Script", cursive;
  font-family: "Shadows Into Light", cursive;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Pinyon Script", cursive;
}
